@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE';
    src: url('/fonts/MADEOkineSansPERSONALUSE-Light.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE Outline';
    src: url('/fonts/MADEOkineSansPERSONALUSE-RegularOutline.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-RegularOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE';
    src: url('/fonts/MADEOkineSansPERSONALUSE-Regular.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE';
    src: url('/fonts/MADEOkineSansPERSONALUSE-Black.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE Light Outline';
    src: url('MADEOkineSansPERSONALUSE-LightOutline.woff2') format('woff2'),
        url('MADEOkineSansPERSONALUSE-LightOutline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE Thin Outline';
    src: url('/fonts/MADEOkineSansPERSONALUSE-ThinOutline.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-ThinOutline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE';
    src: url('/fonts/MADEOkineSansPERSONALUSE-Bold.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE Medium Outline';
    src: url('/fonts/MADEOkineSansPERSONALUSE-MediumOutline.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-MediumOutline.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE';
    src: url('/fonts/MADEOkineSansPERSONALUSE-Medium.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE Outline';
    src: url('/fonts/MADEOkineSansPERSONALUSE-BoldOutline.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-BoldOutline.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE';
    src: url('/fonts/MADEOkineSansPERSONALUSE-Thin.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Okine Sans PERSONAL USE Black Outline';
    src: url('/fonts/MADEOkineSansPERSONALUSE-BlackOutline.woff2') format('woff2'),
        url('/fonts/MADEOkineSansPERSONALUSE-BlackOutline.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}