<label>name</label>
<input type="text" name="name" value="<%= user.name %>">
<br>
<p>The color if not chosen will be set by default on red</p>
<div class="dropmenu">
  <select name="color">
    <option value="red" onclick="colorBg('red')">Red</option>
    <option value="blue" onclick="colorBg('blue')" >Blue</option>
    <option value="yellow" onclick="colorBg('yellow')" >Yellow</option>
  </select>
</div>