<h2>New User</h2>
<form action="/users" method="POST">
    <%- include('_form_fields')%>
    <br>
    <label>color</label>
    <input type="text" name="color" value="<%= user.color %>">
    <a href="/users">Cancel</a>
    <button type="submit">Sumit</button>
</form>